@use "../variables" as *;

header .wrapper {
  display: flex;
  flex-direction: column;
}

.settingsBanner {
  position: fixed;
  top: 0;
  right: -100vw;
  transition: 0.5s;
  width: 75vw;
  z-index: 10;
  background: $colorBackground;
  height: 100%;
  padding: 1rem;
  li {
    padding-top: 1rem;
  }
  a {
    color: $colorPrimary;
    text-decoration: none;
    &:hover {
      color: $colorAccent;
    }
  }
}

.menuOpen {
  right: 0;
  box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.5);
}

.menuOpenButton {
  position: relative;
  top: 1.5rem;
  align-self: flex-end;
  &:hover {
    color: $colorAccent;
  }
}

.menuCloseButton:hover {
  color: $colorAccent;
}

.titleBanner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 4rem;
}

.social li {
  padding-top: 1rem;
}

.logo {
  max-width: 5rem;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  img {
    filter: brightness(0.9);
  }
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  li {
    margin: 1rem 1.75rem;
    padding-bottom: 0.5rem;
    color: $colorAccent;
  }
  .currentPage {
    border-bottom: 2px solid $colorAccent;
  }
}

@media (min-width: 860px) {
  header .menuOpenButton,
  header .menuCloseButton {
    display: none;
  }

  .settingsBanner {
    position: absolute;
    height: auto;
    right: 0;
    width: 100%;
    padding: 0 7.5%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $colorPromoTertiary;
    ul {
      display: flex;
    }
    li {
      padding-top: 0;
      padding-left: 1rem;
    }
  }

  header .social {
    display: flex;
    li {
      padding: 0 0.5rem;
    }
  }
}
