header .wrapper {
    display: flex;
    flex-direction: column;
}

.settingsBanner {
  position: fixed;
  top: 0;
  right: -100vw;
  transition: .5s;
  width: 75vw;
  z-index: 10;
  background: white;
  height: 100%;
  padding: 1rem;
  li {
    padding-top: 1rem;
  }
}

.menuOpen {
    right: 0;
    box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.5);
  }

.menuOpenButton {
  position: relative;
  top: 1.5rem;
  align-self: flex-end;
}

.logo img {
  filter: brightness(0.9);
}
