@use "../variables" as *;

.shop {
  h2 {
    text-align: center;
    color: $colorHighlight;
    letter-spacing: 4px;
    font-size: 1rem;
    padding-top: 1.5rem;
  }
  .subHeader {
    text-align: center;
    font-family: $headerFont;
    color: $colorHighlight;
    font-style: italic;
    letter-spacing: 2px;
    text-transform: none;
    font-size: 0.7rem;
  }
  .trendingCategories {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    li {
      color: $colorHighlight;
      padding: 0 .75rem;
      font-weight: 700;
      letter-spacing: 2px;
    }
    .trendingActive {
      color: $colorPromoShipping;
      border-bottom: 1px solid $colorHighlight;
      max-width: 2.5rem;
      margin-right: 3rem;
      padding: 0;
      padding-bottom: .25rem;
    }
  }
  
  .imgContainer {
    max-width: 15rem;
  }
}
