@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&family=Montserrat:ital@0;1&display=swap");

$baseFont: "Montserrat", sans-serif;
$headerFont: "Merriweather", serif;

$colorPrimary: #939495;
$colorHighlight: #000;
$colorPromo: #CA7379;

body {
    font-family: $baseFont;
    text-transform: uppercase;
    color: $colorPrimary;
    font-size: .75rem;
}